* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.6rem;
  background: #f4a891;
  color: #2f201c;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  color: #2f201c;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

header,
footer {
  background: #593a30;
  color: #f4a891;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.div-logo img {
  width: 8rem;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

.header-nav {
  margin-right: 2rem;
}

.header-nav ul,
footer .footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer-list li {
  padding: 1rem;
}

.footer-list img {
  width: 5rem;
  padding: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                           BARRA DE DESPLAZAMIENTO                          */
/* -------------------------------------------------------------------------- */

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f9bdac;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #593a30;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f201c;
}

/* -------------------------------------------------------------------------- */
/*                                   COLORES                                  */
/* -------------------------------------------------------------------------- */

.bg-primary {
  background-color: #2f201c;
}

.bg-secondary {
  background-color: #885647;
}

.text-light {
  color: #f9bdac;
}

.text-dark {
  color: #2f201c;
}

.text-secondary {
  color: #593a30;
}

/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.contenedor-tarjetas,
.contenedor-carrito {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  margin: 1rem;
  background: #2f201c;
  color: #f9bdac;
  width: 40rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card img {
  width: 100%;
  /*   height: 20rem;
   object-fit: cover;----LAS IMAGENES TIENEN UNA ESCALA PAREJA, SE DEFORMAN AL APLICAR HEIGHT Y OBJECT-FIT-----*/
  opacity: 0.8;
}

.card:hover img {
  opacity: 1;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */

.titulo-contacto {
  margin: 2rem 0;
}

.form-contacto {
  background-color: #f9bdac;
  color: #2f201c;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 3rem;
  border-radius: 1rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.grupo-input input,
.grupo-input textarea {
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #2f201c;
  margin-bottom: 3rem;
}

/* -------------------------------------------------------------------------- */
/*                                CARRITO                                     */
/* -------------------------------------------------------------------------- */
.btn-eliminar-carrito {
  background-color: #741a1a;
  border: 2px solid #d21f1f;
}
.btn-vaciar-carrito {
  background-color: #a56012;
  color: #1d1a20;
}
.btn-vaciar-carrito:hover {
  background-color: #ffaa49;
}

.mensaje-carrito-vacio {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}
.acciones-carrito {
  margin-top: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
  }

  .header-nav,
  .div-logo {
    margin: 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                                CSS SWEETALERTS                              */
/* -------------------------------------------------------------------------- */

.btn-msj {
  background-color: #885647;
  border-radius: 2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 2rem;
  color: #1d1a20;
}

.btn-msj:hover {
  background-color: #2f201c;
  color: #f4a891;
}

.box-msj {
  background-color: #f4a891;
  border-radius: 2rem !important;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1rem;
  color: #1d1a20;
}
